<div class="jumbotron">
    <div class="container">
        <%= provide(:title, "Edit Worker")%>
        
        <h1 dir="rtl" lang="ar" style = "color:green; font-size:30px;">تحديث الملف الشخصي للعامل</h1>
        <div class="row">
          <div dir="rtl" lang="ar" class="col-sm-12">
            <%= form_for @worker do |f| %>
                 <%= render 'shared/error_messages', object: f.object %>

                <div class="form-group">
                  <%= f.label :الاسم %><br>
                  <%= f.text_field :name %>
                <div class="field">
                  <%= f.label :الهاتف %><br>
                  <%= f.text_field :phone %>
                </div>
                <div class="field">
                  <%= f.label :المنطقة %><br>
                  <%= f.select :area, options_for_select([['القاهرة','القاهرة'],['الجيزة', 'الجيزة']])%>
                </div>
                <div class="field">
                  <%= f.label :الوضع %><br>
                  <%= f.select :status, options_for_select([['متاح','متاح'],['مشغول', 'مشغول']])%>
                </div>
                <div class="field">
                  <%= f.label :نوع_العمل %><br>
                  <%= f.select :job_id, Job.all.collect{|j| [j.name, j.id]}%>
                </div>
                
                <%= f.submit  "تحديث", :class => "btn btn-primary" %>
                
              <% end %>

          </div>
        </div>
        <%= link_to 'الرجوع', @worker, :style => "color:blue;" %>
    </div>
</div>