<div class="jumbotron">
      <div class="container">
        <div class="row">
          <title>Workers</title>
<body> 
<h1>Listing workers</h1>



  <tbody>
    <br>

    <% @workers.each do |worker| %>
      <tr>
        <div class="col-sm-7">
        <% if worker.average_rate > 20 %>
          <td><img src="http://www.clker.com/cliparts/Z/X/M/T/C/s/led-circle-green-md.png" width="30" height="30"></td>
        <% elsif worker.average_rate > 15 && worker.average_rate <= 20%>
          <td><img src="http://www.clker.com/cliparts/z/Y/Q/v/w/e/led-circle-yellow-md.png" width="30" height="30"></td>
        <% elsif worker.average_rate > 10 && worker.average_rate <= 15 %>
          <td><img src="http://www.clker.com/cliparts/6/y/a/i/z/9/led-circle-orange-md.png" width="30" height="30"></td>
        <% else %>
          <td><img src="http://www.clker.com/cliparts/T/t/g/p/t/5/led-circle-red-md.png" width="30" height="30"></td>            
        <% end %>


        <td><%= worker.name %></td>
        <td><%= worker.area %></td>
        <td><%= worker.status %></td>
        <td><%= worker.kind %></td>
        </div>
        <div class="col-sm-14">
        <td><%= link_to 'Show', worker %></td>
        <td><%= link_to 'Edit', edit_worker_path(worker) %></td>
        <td><%= link_to 'Destroy', worker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'review', new_worker_review_path(worker) %></td>
        </div>
      </tr><br>
    <% end %>
  </tbody>



<br>
 
    </body></html>
        </div>
      </div>
