<div class="jumbotron">
      <div class="container">
        <div class="row">
          <title>Workers</title>
<body> 
<h1 dir="rtl" style = "color:green;">قائمة العمال</h1>



  <tbody>
    <br>

    <% @workers.each do |worker| %>
      <tr>
        <div  dir="rtl" class="col-sm-12">
        <% if worker.average_rate > 20 %>
          <td><img src="http://www.clker.com/cliparts/Z/X/M/T/C/s/led-circle-green-md.png" width="30" height="30"></td>
        <% elsif worker.average_rate > 15 && worker.average_rate <= 20%>
          <td><img src="http://www.clker.com/cliparts/z/Y/Q/v/w/e/led-circle-yellow-md.png" width="30" height="30"></td>
        <% elsif worker.average_rate > 10 && worker.average_rate <= 15 %>
          <td><img src="http://www.clker.com/cliparts/6/y/a/i/z/9/led-circle-orange-md.png" width="30" height="30"></td>
        <% else %>
          <td><img src="http://www.clker.com/cliparts/T/t/g/p/t/5/led-circle-red-md.png" width="30" height="30"></td>            
        <% end %>

        <strong  dir="rtl">
        <td><%= worker.name %></td>
        </strong>
      <br>

        <td dir="rtl"><%= worker.area %></td>
        <td dir="rtl"><%= worker.status %></td>
        <td dir="rtl"><%= worker.kind %></td>
        
        </div>

        <div  dir="rtl" class="col-sm-2">
          <body link="blue">
        <td><%= link_to 'إظهار', worker %></td>
          </body>
        </div>

      </tr><br>
    <% end %>
  </tbody>



<br>
 
    </body></html>
        </div>
      </div>
