<div class="jumbotron">
      <div class="container">
        <div class="row">
        	<title>Add Worker</title>
<p id="notice"><%= notice %></p>

<div class="col-sm-5">
<p>
  <strong>Name:</strong>
  <%= @worker.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @worker.phone %>
</p>


<p>
  <strong>Area:</strong>
  <%= @worker.area %>
</p>

<p>
  <strong>Status:</strong>
  <%= @worker.status %>
</p>

<p>
  <strong>kind:</strong>
  <%= @worker.kind %>
</p>
<p>
    <strong>
      <%= link_to 'Review', new_worker_review_path(@worker), :class => "btn btn-primary"  %> 
      </strong><br>
</p>
</div>
<div class="col-sm-6">
  <p>
  <%= render 'workers/rates', :worker => @worker%>
  </p><br>

  <p>
  <%= render 'workers/lastrev', :worker => @worker %>
  </p>
</div>

  <div class="col-sm-12">

<p>
  <td><img src="http://centerhillcampground.com/wp-content/uploads/2013/09/Custom-Icon-Design-Pretty-Office-9-Comment-edit1.ico" width="30" height="30"></td>
  <strong>Comments</strong>
</p>
<p>

  <% @worker.get_comments.each do |review| %>
  <% if !review.comment.nil? %>
    <ol class="posts">
        <div class="form-group">
      <span class="content">
        <td><img src="http://www.combinedbook.com/blog/wp-content/uploads/2014/08/comment_edit.png" width="30" height="30"></td>
        <%= review.comment %>
      </span>
        </div>
    </ol>
      <% end %>
  <% end %>
</p>

  </div>

  <div class="col-sm-12">
      
      <% if admin_signed_in? %>
      <%= link_to 'Edit', edit_worker_path(@worker), :style => "color:blue;"%> |
      <%= link_to 'show reviews', worker_reviews_path(@worker), :style => "color:blue;" %> |
      <%= link_to 'Destroy', @worker, method: :delete, data: { confirm: 'Are you sure?' }, :style => "color:blue;" %> |
      <%= link_to 'Back', workers_path %>

      <% end %>
  </div>
		</body></html>
        </div>
      </div>
     <p dir="rtl" lang="ar" ></p>