<div class="jumbotron">
      <div class="container">
      	
      	<h1 dir="rtl" lang="ar" style = "color:green;" >جميع التقييمات</h1><br>
      	
        <div class="row">
        	<p>
	        	<% @worker.reviews.each do |r| %>
	        	<p>
	        		<p dir="rtl" lang="ar" style = "color:gray;">
	        		<strong>اسم العميل:</strong> 
	        		<%= r.client_name %> <br>
	        		<strong>هاتف العميل:</strong> 
	        		<%= r.client_phone %> <br>
	        		<strong>بريد الإلكتروني العميل:</strong> 
	        		<%= r.client_email %> <br>
	        		<strong>عنوان العميل:</strong> 
	        		<%= r.client_addres %> <br>
	        	</p>
	        	</p>
	        	<p dir="rtl" lang="ar" >
	        		<em>الجودة:</em> |
	        		<%= r.quilty %> |
	        		<em>الانضباط:</em> |
	        		<%= r.disicpline %> |
	        		<em>المعاملة:</em> |
	        		<%= r.treatment %> |
	        		<em>النظافة:</em> |
	        		<%= r.clean %> |
	        		<em>السعر:</em> |
	        		<%= r.price %> |
	        		<%= link_to 'حذف', worker_review_path(@worker.id,r.id), method: :delete, data: { confirm: 'Are you sure?' }, :style => "color:red;"%> 
	        	</p>
	        		<br>
	        	<% end %>
        	</p>
        	<%= link_to 'الرجوع', @worker, :style => "color:blue;" %>
        </div>
    </div>
</div>