<div class="jumbotron">
      <div class="container">
        <div class="row">
        	<title>Review</title>

	<%= form_for([@worker, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this worker from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |message| %>
        <li><%= message %></li><br>
      <% end %>
      </ul>
    </div>
  <% end %>

	<p>
		<div class="col-sm-5">
		<strong class="choice">price rating</strong>
		</div>
		<div class="col-sm-7">
	<span class="star-rating">
		<%= f.radio_button :price, 1 %><i></i>
		<%= f.radio_button :price, 2 %><i></i>
		<%= f.radio_button :price, 3 %><i></i>
		<%= f.radio_button :price, 4 %><i></i>
		<%= f.radio_button :price, 5 %><i></i>
	</span>


	</div>
	</p>
	<p>
		<div class="col-sm-5">
		<strong class="choice">cleanness rating</strong>
		</div>
		<div class="col-sm-7">
	<span class="star-rating">
		<%= f.radio_button :clean, 1 %><i></i>
		<%= f.radio_button :clean, 2 %><i></i>
		<%= f.radio_button :clean, 3 %><i></i>
		<%= f.radio_button :clean, 4 %><i></i>
		<%= f.radio_button :clean, 5 %><i></i>
	</span>
	</div>
	</p>
		<p>
			<div class="col-sm-5">
		<strong class="choice">quality rating</strong>
		</div>
		<div class="col-sm-7">
	<span class="star-rating">
		<%= f.radio_button :quilty, 1 %><i></i>
		<%= f.radio_button :quilty, 2 %><i></i>
		<%= f.radio_button :quilty, 3 %><i></i>
		<%= f.radio_button :quilty, 4 %><i></i>
		<%= f.radio_button :quilty, 5 %><i></i>
	</span>
	</div>
	</p>
		<p>
			<div class="col-sm-5">
		<strong class="choice">disicpline rating</strong>
		</div>
				<div class="col-sm-7">
	<span class="star-rating">
		<%= f.radio_button :disicpline, 1 %><i></i>
		<%= f.radio_button :disicpline, 2 %><i></i>
		<%= f.radio_button :disicpline, 3 %><i></i>
		<%= f.radio_button :disicpline, 4 %><i></i>
		<%= f.radio_button :disicpline, 5 %><i></i>
	</span>
	</div>
	</p>
		<p>
			<div class="col-sm-5">
		<strong class="choice">treatment rating</strong>
		</div>
		<div class="col-sm-7">
	<span class="star-rating">
		<%= f.radio_button :treatment, 1 %><i></i>
		<%= f.radio_button :treatment, 2 %><i></i>
		<%= f.radio_button :treatment, 3 %><i></i>
		<%= f.radio_button :treatment, 4 %><i></i>
		<%= f.radio_button :treatment, 5 %><i></i>
	</span>
	</div>
	</p>

<p>	
	<div class="field">
		<div class="col-sm-5">
    		<strong class="choice">Add comment</strong>
    	</div>
    	<div class="col-sm-3 ">
    		<%= f.text_area :comment , :class =>"form-control"%>
    	</div>
    </div>
</p>

    <p>
    <div class="field">
		<div class="col-sm-5">
			<p>
    		<strong class="choice">Client</strong>
    	</p><br>
    		<p>
			<%= f.label :client_name %>
    		<%= f.text_field :client_name%><br>
    		</p>
    			<p>
			<%= f.label :client_email %>
    		<%= f.text_field :client_email%><br>
    		</p>
    			<p>
			<%= f.label :client_phone %>
    		<%= f.text_field :client_phone%><br>
    		</p>
    			<p>
			<%= f.label :client_addres %>
    		<%= f.text_field :client_addres%><br>
    		</p>
		<%= f.submit  "Send my review", :class => "btn btn-primary" %>

    	</div>
    	
    </p>
</div>
</div>

<% end %> 