<!DOCTYPE html>
<html>
  
<head>
	<title><%= full_title(yield(:title))%></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<title>ELherafy</title>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">

			
		<div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button><%= link_to "الصفحه الرئسيه" , root_path , :class => 'navbar-brand'%>
		</div>
		<div class="navbar-collapse collapse">
			<nav>
		<ul class="nav navbar-nav navbar-right">

			<% if admin_signed_in? %>

							    <li id="fat-menu" class="dropdown">
					            <a herf="#" class="dropdown-toggle" data-toggle="dropdown">
						         خدمات المشرف<b class="caret"></b>
					            </a>
					            <ul class="dropdown-menu">
					            	<li align="center"><%= link_to "اضافة عامل", new_worker_path%></li>
					            	<li class="divider"></li>
							    	<li align="center"><%= link_to "تسجيل الخروج", destroy_admin_session_path , method: "delete" , :id => "sign_out"%></li>
							    </ul>
						    	<% else %>
							    <li><%= link_to "تسجيل الدخول كمشرف", new_admin_session_path %></li>
							    <% end %>
							    
					        </li>
			
			<li id="fat-menu" class="dropdown">
					            <a herf="#" class="dropdown-toggle" data-toggle="dropdown">
						          الخدمات <b class="caret"></b>
					            </a>
					            <ul class="dropdown-menu">
					            	<li align="center"><%= link_to "العمال", workers_path %></li>
					            	<li class="divider"></li>
						            <li align="center"><%= link_to "مبلط", mabalat_path(:worker_type => 'مبلط') %> </li>
						            <li align="center"><%= link_to "نجار", mabalat_path(:worker_type => 'نجار') %> </li>
						            <li align="center"><%= link_to "سباك", mabalat_path(:worker_type => 'سباك') %> </li>
							    </ul>	

			<li><%= link_to "للتواصل" , contact_path %></li>
			<li><%= link_to "نبذه عننا" , about_path %></li>
			<li dir="rtl"><%= link_to "مؤسسة بناء الانسان و التنميه" , 'http://www.hfegypt.org/' %></li>
					    </ul>
	                </nav>
		</ul>
	</div>
</div>
</div>


		<% flash.each do |name, msg| %>
	<% if msg.is_a?(String) %>
	<div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
	<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	<%= content_tag :div, msg, :id => "flash_#{name}" %>
	</div>
	<% end %>
	<% end %>


<%= yield %>


</body>
</html>
